<p id="notice"><%= notice %></p>

<h1>Listing Coureurs</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Pseudo</th>
      <th>Ville</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coureurs.each do |coureur| %>
      <tr>
        <td><%= coureur.pseudo %></td>
        <td><%= coureur.ville %></td>
        <td><%= coureur.user_id %></td>
        <td><%= link_to 'Show', coureur %></td>
        <% if current_user && coureur.user_id == current_user.id %>
        <td><%= link_to 'Edit', edit_coureur_path(coureur) %></td>
        <td><%= link_to 'Destroy', coureur, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
        <td><%= link_to 'Courses', courses_coureur_path(coureur) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Coureur', new_coureur_path %>
